@mixin box-shadow($horizontal, $vertical, $spread, $blur, $color) {
  -webkit-box-shadow:$horizontal $vertical $spread $blur $color;
  -moz-box-shadow:$horizontal $vertical $spread $blur $color;
  box-shadow:$horizontal $vertical $spread $blur $color ;
}
