/*

colors:

*/

$sapphire: rgba(105, 63, 255, .4);
$emerald: rgba(11, 236, 26, .4);
$torquoise: rgba(22,228,210, .4);

$blue: rgb(0,0,255);

$lightgrey: #c3c3c3;
$box-shadow-grey: rgba(101, 102, 115, 1);
$transparent-black: rgba(0,0,0, .7);


/*

fonts:

*/

$main-font: 'Lato', Arial, Helvetica, sans-serif;
$complimentary-font: 'Gentium Book Basic', serif;

/*

media queries:

*/


$iphone-6-plus-min-width: 414px; /* portrait */
$ipad-min-width: 768px;
$tablet-width: 992px;
